@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
        background-image:
        radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
        radial-gradient(at 49% 47%, hsla(340,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
    background-attachment: fixed;
    background-size: cover;
}
header, .client, header button, header select {
    background-color: #8b8b8b70;
    backdrop-filter: blur(10px);
}

header {
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);            
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

header select {
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 5px;
}

header button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 1rem;
    border: 2px solid rgb(0, 0, 0); 

}

header button:hover {
    background-color: #555;
    scale: 1.1;
    border: 2px solid rgb(0, 0, 0); 
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.client { 
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

@keyframes colorChange {
    0% { background-color: #8b8b8b70; }
    50% { background-color: #535353a9; }
    100% { background-color: #8b8b8b70; }
}

.client:hover {
    animation: colorChange 3s infinite;
}


.client img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.client h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.client p {
    color: #383838;
}

.client a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.897);
    border-radius: 4px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.39);
    text-shadow: 0 0 3px rgb(0, 0, 0);
    transition: transform 0.5s ease;
}

.client a:hover {
    background-color: #555;
    transform: scale(1.1);
}

.recommended {
    border: 2px solid rgb(225, 0, 255);
    box-shadow: rgb(234, 0, 255) 0px 0px 8px;
}