@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 1);
    background-image:
        linear-gradient(120deg, hsla(240, 100%, 70%, 0.5) 0%, hsla(240, 100%, 60%, 0.5) 30%, hsla(240, 100%, 50%, 0.5) 50%, hsla(240, 100%, 40%, 0.5) 70%, hsla(240, 100%, 30%, 0.5) 100%),
        linear-gradient(30deg, hsla(0, 100%, 80%, 0.5) 0%, hsla(0, 100%, 60%, 0.5) 30%, hsla(0, 100%, 40%, 0.5) 50%, hsla(0, 100%, 20%, 0.5) 70%, hsla(0, 100%, 0%, 0.5) 100%);
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #8b8b8b70;
    border-bottom: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

header h1 {
    margin: 0;
}

.back-button {
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #8b8b8b70; 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.back-button:hover {
    background-color: #555;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.config-info {
    display: flex;
    margin-bottom: 2rem;
}

.cover-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #8b8b8b70;
}
.cover-image:hover {
    background-color: #555;
}

.details {
    max-width: 500px;
}

.details h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.details p {
    margin: 0.5rem 0;
}

.details ul {
    list-style: none;
    padding: 0;
}


.details ul li {
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #8b8b8b70;
}

.details ul li:hover {
    background-color: #555;
    transform: scale(1.2);
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.screenshots img {
    width: 356px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease;
}

.screenshots img:hover {
    transform: scale(1.3);
}

.download-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #8b8b8b70;    
    border-radius: 5px;
    color: black;
}

.download-button:hover {
    background-color: #555;
}