@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 1);
    background-image:
        linear-gradient(120deg, hsla(240, 100%, 70%, 0.5) 0%, hsla(240, 100%, 60%, 0.5) 30%, hsla(240, 100%, 50%, 0.5) 50%, hsla(240, 100%, 40%, 0.5) 70%, hsla(240, 100%, 30%, 0.5) 100%),
        linear-gradient(30deg, hsla(0, 100%, 80%, 0.5) 0%, hsla(0, 100%, 60%, 0.5) 30%, hsla(0, 100%, 40%, 0.5) 50%, hsla(0, 100%, 20%, 0.5) 70%, hsla(0, 100%, 0%, 0.5) 100%);
    background-attachment: fixed;
    background-size: cover;
}

/* Style for active search commands */
.active-command {
    display: inline-block;
    background-color: #555;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

/* Animation for hidden elements */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s ease;
}

/* Animation for elements when they come into view */
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.config {
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    transition: background-color 0.3s ease;
}